/* Estilos de la pagina de inicio */
@font-face {
  font-family: "HelveticaCondensed";
  src: url("../fonts/Helvetica Condensed Bold Italic.ttf") format("truetype");
}

@keyframes radarBackground {
  0% { 
    background: linear-gradient(90deg, #254b3e 0%, #356d59 100%);
    background-size: 300% 100%;
    background-position: 100% 0;
  }
  
  100% {
    background: linear-gradient(90deg, #254b3e 0%, #356d59 100%);
    background-position: -100% 0;
    background-size: 300% 100%;
  }
}

@keyframes radarText {
  0% {
    color: #356d59;
  }
  50% {
    color: #07c787;
  }
  100% {
    color: #356d59;
  }
}

body, html {
  background-color: #356d59;
  color: #07c787;
  margin: 0;
  left: 0;
  right: 0;
  width: 100%;
}

header, footer {
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "HelveticaCondensed", Arial, sans-serif;
  font-size: 40px;
  color: #07c787;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #07c787;
  position: relative;
  overflow: hidden;
  animation: radarBackground 10s linear infinite alternate ;
}

.header-top, .footer {
  padding: 15px;
  animation: radarText 10s linear infinite alternate ;
}

footer {
  font-size: 35px;
  letter-spacing: 2px;
  padding: 15px;
  border-top: 2px solid #07c787;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.PaginaInicio .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
