@font-face {
  font-family: "HelveticaCondensed";
  src: 
    url("../fonts/Helvetica-Condensed-Bold-Italic.ttf") format("truetype"),
    url("../fonts/Helvetica-Condensed-Bold-Italic.ttf") format("woff"),
    url("../fonts/Helvetica-Condensed-Bold-Italic.ttf") format("woff2");
}

.PaginaPerfil header{
    border-bottom: 2px solid #07c787;
    padding: 25px;
    background-color: #254b3e;
}

.PaginaPerfil nav {
    display: flex;
    width: 90%;
    gap: 10px;
    padding: 5px 5px 0 0;
    background: transparent;
    margin-top: 10px;
    margin-left: 120px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.PaginaPerfil .nav-b {
    flex: 1;
    color: #254b3e;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: bold;
    font-family: "HelveticaCondensed", Arial, sans-serif;
    text-decoration: none;
    background-color: #07c787;
    text-align: center;
    padding: 5px;
    border: #347e65 2px solid;
    cursor: pointer;
}

.PaginaPerfil .nav-b:hover {
    background-color: #254b3e;
    color: #07c787;
    border-color: #07c787;
}

.PaginaPerfil .username {
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 18px;
    color: #07c787;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    border: #07c787 2px solid;
    border-radius: 4px;
    background: transparent;
    margin-left: 20px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.PaginaPerfil .username:hover {
    background-color: #07c787;
    color: #254b3e;
    border-color: #254b3e;
    cursor: pointer;
}

.profileContent{
    width: 100%;
    align-items: center;
    background: #254b3e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: #07c787 2px solid;
    bottom: 0;
}

.profileContent h2{
    text-align: center;
    font-family: "HelveticaCondensed", Arial, sans-serif;
    color: #07c787;
    letter-spacing: 2px;
    font-size: 24px;
    z-index: 0;
    text-shadow: -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,2px 2px 4px #000;
}

.profileContent h1{
    text-align: center;
    font-family: "HelveticaCondensed", Arial, sans-serif;
    color: #07c787;
    letter-spacing: 2px;
    font-size: 34px;
    z-index: 0;
    text-shadow: -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,2px 2px 4px #000;
    padding: 10px;
    padding-left: 700px;
    padding-right: 700px;
    margin-bottom: 50px;
    border: #07c787 2px solid;
    background: #222;
}
