@font-face {
    font-family: "HelveticaCondensed";
    src: url("/fonts/helvetica_condensed_bold_italic-webfont.woff") format("woff"),
    url("/fonts/helvetica_condensed_bold_italic-webfont.woff") format("woff2");
  }

.PaginaLogueado header{
    border-bottom: 2px solid #07c787;
    padding: 25px;
    background-color: #254b3e;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.PaginaLogueado nav {
    display: flex;
    width: 90%;
    gap: 10px;
    padding: 5px 5px 0 0;
    background: transparent;
    margin-top: 10px;
    margin-left: 120px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.PaginaLogueado .nav-b {
    flex: 1;
    color: #254b3e;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: bold;
    font-family: "HelveticaCondensed", Arial, sans-serif;
    text-decoration: none;
    background-color: #07c787;
    text-align: center;
    padding: 5px;
    border: #347e65 2px solid;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.PaginaLogueado .nav-b:hover {
    background-color: #254b3e;
    color: #07c787;
    border-color: #07c787;
}

.PaginaLogueado .username {
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 18px;
    color: #07c787;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    border: #07c787 2px solid;
    border-radius: 4px;
    background: transparent;
    margin-left: 20px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
}

.PaginaLogueado .username:hover {
    background-color: #07c787;
    color: #254b3e;
    border-color: #254b3e;
    cursor: pointer;
}

.PaginaLogueado .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #254b3e;
    color: #07c787;
    font-family: "HelveticaCondensed";
}

.PaginaLogueado h1 {
  text-align: center;
  font-family: "HelveticaCondensed", Arial, sans-serif;
  color: #07c787;
  letter-spacing: 2px;
  font-size: 34px;
  z-index: 0;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000, 2px 2px 4px #000;
  padding: 10px;
  border: #07c787 2px solid;
  background: #222;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.PaginaLogueado .content {
  width: 100%;
  background: #254b3e;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: #07c787 2px solid;
  bottom: 0;
  justify-content: space-between;
}


.PaginaLogueado .calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  min-height: 80vh;
  overflow: hidden;
  padding: 1rem;
  width: 70%;
  margin-left: 0; 
}

.PaginaLogueado .rbc-month-view {
  border: 2px solid #07c787;
  box-sizing: border-box;
}

.PaginaLogueado .rbc-month-row {
  border-top: 2px solid #07c787;
  border-left: 2px solid #07c787;
  border-right: 3px solid #07c787;
  border-bottom: 3px solid #07c787;
}

.PaginaLogueado .rbc-day-bg {
  border-right: 2px solid #07c787;
  border-bottom: 2px solid #07c787;
  border-left: 2px solid #07c787;
  border-top: 2px solid #07c787;
  background-color: #254b3e;
  padding: 5px auto;
}

.PaginaLogueado .rbc-day-bg:hover {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}

.PaginaLogueado .rbc-day-bg:focus {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:focus-visible {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:focus-visible:hover {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:focus-visible:active {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:focus-visible:active:hover {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:focus-visible:active:focus {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:focus-visible:active:focus-visible {
  background-color: #07c787;
  color: #254b3e;
  cursor: pointer;
}
.PaginaLogueado .rbc-day-bg:last-child {
  border-right: none;
}

.PaginaLogueado .rbc-header {
  border-right: 2px solid #07c787;
  border-bottom: 2px solid #07c787;
  border-left: #07c787 2px solid;
  border-top: #07c787 2px solid;
  padding: 10px;
  background-color: #254b3e;
  color: #07c787;
  font-family: "HelveticaCondensed", Arial, sans-serif;
}

.PaginaLogueado .rbc-event {
    background-color: #07c787;
    color: #254b3e;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 16px;
    margin: 4px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    text-align: justify;
}

.PaginaLogueado .rbc-event:hover {
    background-color: #254b3e;
    color: #07c787;
    cursor: pointer;
}

.PaginaLogueado .rbc-event-label {
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 16px;
    color: #254b3e;
}

.PaginaLogueado .rbc-event-time {
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 14px;
    color: #254b3e;
}

.PaginaLogueado .rbc-toolbar {
    background-color: #07c787;
    color: #254b3e;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.PaginaLogueado .rbc-toolbar-label {
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 20px;
    color: #254b3e;
    font-weight: bold;
}

.PaginaLogueado .rbc-toolbar button {
    background-color: #07c787;
    color: #254b3e;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "HelveticaCondensed", Arial, sans-serif;
    font-size: 16px;
}

.PaginaLogueado .rbc-toolbar button:hover {
    background-color: #254b3e;
    color: #07c787;
    cursor: pointer;
}

.PaginaLogueado .rbc-toolbar button:disabled {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}

.PaginaLogueado .rbc-toolbar button:disabled:hover {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}

.PaginaLogueado .rbc-toolbar button:disabled:active {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}
.PaginaLogueado .rbc-toolbar button:disabled:focus {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}

.PaginaLogueado .rbc-toolbar button:disabled:focus-visible {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}
.PaginaLogueado .rbc-toolbar button:disabled:focus-visible:hover {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}
.PaginaLogueado .rbc-toolbar button:disabled:focus-visible:active {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}
.PaginaLogueado .rbc-toolbar button:disabled:focus-visible:active:hover {
    background-color: #07c787;
    color: #254b3e;
    cursor: not-allowed;
}

.PaginaLogueado .rbc-today {
    background-color: #347e65;
    color: #254b3e; 
}

.PaginaLogueado .rbc-selected {
    background-color: #07c787;
    color: #254b3e; 
}

.PaginaLogueado .rbc-selected:hover {
    background-color: #254b3e;
    color: #07c787;
    cursor: pointer;
}

.PaginaLogueado .eventos-proximos {
  width: 30%; 
  max-height: 80vh;
  overflow-y: auto; 
  background-color: #254b3e;
  padding: 10px;
  border: 4px solid #07c787;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 30px;
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #07c787 #254b3e;
}

.PaginaLogueado .eventos-proximos h3 {
  font-family: "HelveticaCondensed";
  font-size: 24px;
  color: #07c787;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000, 2px 2px 4px #000;
  
}

.PaginaLogueado .eventos-proximos hr {
  border: 2px solid #07c787;
  margin: 10px 0;
}

.PaginaLogueado .event-item {
  background-color: #07c787;
  color: #254b3e;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.PaginaLogueado .event-item:hover {
  background-color: #254b3e;
  color: #07c787;
}

.PaginaLogueado .event-item h4 {
  margin: 0;
  font-size: 20px;
  font-family: "HelveticaCondensed";
  font-weight: bold;
}

.PaginaLogueado .event-item p {
  font-size: 18px;
}
