@font-face {
  font-family: "HelveticaCondensed";
  src: url("/fonts/helvetica_condensed_bold_italic-webfont.woff") format("woff"),
  url("/fonts/helvetica_condensed_bold_italic-webfont.woff") format("woff2");
}

  .PaginaTareas header{
      border-bottom: 2px solid #07c787;
      padding:25px;
      background-color: #254b3e;
  }

  .PaginaTareas nav {
      display: flex;
      width: 90%;
      gap: 10px;
      padding: 5px 5px 0 0;
      background: transparent;
      margin-top: 10px;
      margin-left: 120px;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .PaginaTareas .nav-b {
      flex: 1;
      color: #254b3e;
      letter-spacing: 2px;
      font-size: 22px;
      font-weight: bold;
      font-family: "HelveticaCondensed", Arial, sans-serif;
      text-decoration: none;
      background-color: #07c787;
      text-align: center;
      padding: 5px;
      border: #347e65 2px solid;
      cursor: pointer;
  }

  .PaginaTareas .nav-b:hover {
      background-color: #254b3e;
      color: #07c787;
      border-color: #07c787;
  }

  .PaginaTareas .username {
      font-family: "HelveticaCondensed", Arial, sans-serif;
      font-size: 18px;
      color: #07c787;
      text-transform: uppercase;
      font-weight: bold;
      padding: 5px 10px;
      border: #07c787 2px solid;
      border-radius: 4px;
      background: transparent;
      margin-left: 20px;
      box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .PaginaTareas .username:hover {
      background-color: #07c787;
      color: #254b3e;
      border-color: #254b3e;
      cursor: pointer;
  }

  .tareas{
      width: 100%;
      background: #254b3e;
      padding: 15px;
      display: flex;
      flex-direction: column;
      border-bottom: #07c787 2px solid;
      bottom: 0;
      align-items: center;
  }

  .tareas h2{
      text-align: center;
      font-family: "HelveticaCondensed";
      color: #07c787;
      letter-spacing: 2px;
      font-size: 24px;
      z-index: 0;
      text-shadow: -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,2px 2px 4px #000;
  }

  .tareas h1{
    text-align: center;
    font-family: "HelveticaCondensed";
    color: #07c787;
    letter-spacing: 2px;
    font-size: 34px;
    z-index: 0;
    text-shadow: -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,2px 2px 4px #000;
    padding: 10px;
    border: #07c787 2px solid;
    background: #222;
    width: 30%;
  }

  

  .PaginaTareas button{
    background-color: #07c787;
    color: #254b3e;
    border: 2px solid #409b7c;
    padding: 12px 20px;
    font-size: 18px;
    font-family: "HelveticaCondensed";
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    outline: none;
  }

  .PaginaTareas button:hover{
      background-color: #07c787;
      color: #254b3e;
      border-color: #07c787;
  }



  .PaginaTareas .contenedor-tareas button{
    background: #07c787;
    color: #254b3e;
    border: 2px solid #000;
    padding: 12px 25px;  
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: auto;  
    min-width: 180px; 
    font-family: "HelveticaCondensed";
    border-radius: 4px;
  }

  #seccion-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  #seccion-titulo .icono {
    margin-left: 10px;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
  }

  .icono {
    margin-right: 8px;
  }


  .tareas input{
      margin: 10px auto;
      padding: 12px;
      border: 2px solid #07c787;
      background: #254b3e;
      color: #07c787;
      font-size: 25px;
      font-family: "HelveticaCondensed";
      outline: none; 
      margin-right: 10px;
  }

  .tareas select {
    margin: 10px auto;
    padding: 12px;
    border: 2px solid #07c787;
    background: #254b3e;
    color: #07c787;
    font-size: 25px;
    font-family: "HelveticaCondensed";
    margin-right: 10px;
    border-radius: 4px;
    outline: none;
  }

  
  .PaginaTareas button:hover{
      background-color: #254b3e;
      color: #07c787;
  }

  .mensaje-con-boton {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin-top: 1rem;
  }
  
  .PaginaTareas .creation-message {
    color: rgb(155, 24, 24); 
    font-size: 1.5rem;
    font-family: "HelveticaCondensed";
    font-weight: bold;
    text-shadow: -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000,2px 2px 4px #000;
  }
  
  .PaginaTareas .seccion-tareas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
    background-color: #254b3e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 40px;
    border: #07c787 2px solid;
  }

  .PaginaTareas .toggleSeccion button {  
    width: auto;  
    min-width: 120px; 
    padding: 12px 20px;  
    font-size: 18px;
    text-align: left;
    font-family: "HelveticaCondensed";
    background: #07c787;
    color: #254b3e;

  }
  
  .contenedor-tareas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      min-width: 200px;
      margin: 8px;
  }

  .formulario-eliminar button {
      margin-right: 20px;
      padding: 12px 25px;
      font-size: 18px; 
      text-align: center;
      font-family: "HelveticaCondensed", Arial, sans-serif;
      background: #07c787;
      color: #254b3e;
      cursor: pointer;
      transition: background 0.3s ease;
      min-width: 150px; 
  }

  .formulario-modificar input {
      margin: 10px 0; 
      padding: 12px;
      border: 2px solid #07c787;
      background: #254b3e;
      color: #07c787;
      font-size: 18px;
      font-family: "HelveticaCondensed", Arial, sans-serif;
      outline: none;
      width: 100%; 
      box-sizing: border-box; 
  }