.PaginaLogueado .header-bottom {
    display: flex;
    width: 90%;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding: 0;
    background: transparent;
}

.PaginaLogueado nav {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 5px 5px 0 0;
    background: transparent;
}

.PaginaLogueado .nav-b {
    flex: 1;
    color: #347e65;
    letter-spacing: 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 8px 8px 0 0;
    text-decoration: none;
    background-color: #07c787;
    text-align: center;
    padding: 5px;
    border: #347e65 2px solid;
    cursor: pointer;
    box-shadow: 2px #000;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.PaginaLogueado .nav-b:hover {
    background-color: #254b3e; 
    color: #07c787;
}
