

.retro-container-L,.retro-container-R {
    height: 300px;
    background: #222;
    padding: 20px;
    margin: 100px auto;
    border: 4px solid #07c787;
    border-radius: 10px ;
    text-align: center;
    width: 20%;
    
}

.retro-container-R button{
    margin-top: 3em;
}

.retro-container-L button{
    margin-top: 1em;
}

.retro-container-L h2, .retro-container-R h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffcc00;
    animation: 2s shadowMove linear infinite;
}

@keyframes shadowMove {
    0% {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombras iniciales */
    }
    50% {
        text-shadow: -5px 2px 5px rgba(0, 0, 0, 0.5); /* Desplazamiento de la sombra a la izquierda */
    }
    100% {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Regresa a la posición original */
    }
}

.PaginaInicio input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 8px;
    border: 2px solid #07c787;
    background: black;
    color: #ffcc00;
    font-size: 14px;
}

.PaginaInicio button {
    background: black;
    color: #ffcc00;
    border: 2px solid #ffcc00;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
}

.PaginaInicio button:hover {
    background: #07c787;
    color: black;
}

.PaginaInicio p{
    color: #07c787;
    font-size: 14px;
    margin-top: 1em;
    border: #ffcc00 2px solid;
    padding: 1em;
}

