body {
    font-family: "Press Start 2P", cursive;
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
}

.retro-container {
    width: 300px;
    background: #222;
    padding: 20px;
    margin: 20px auto;
    border: 4px solid #00ff00;
    box-shadow: 0 0 15px #00ff00;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #00ff00;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 8px;
    border: 2px solid #00ff00;
    background: black;
    color: #00ff00;
    font-size: 14px;
}

button {
    background: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #00ff00;
    color: black;
}